Olá, eu sou o Matheus e estou aprendendo piton

In [1]:
print("helo world")

helo world

In [3]:
m = "matheus"

In [4]:
type(m)

str

In [5]:
print(m)

matheus

In [6]:
print(f'ola, eu sou o {m}')

ola, eu sou o matheus

In [7]:
name = input("Insira aqui o seu nome: ")
print(f"olá, {name}, seja bem-vindo ao meu site")

Insira aqui o seu nome: Igor, o mais lindo do mundo
olá, Igor, o mais lindo do mundo, seja bem-vindo ao meu site

In [8]:
1+1

2

In [14]:
math = float(input('insira um número: '))
mat = float(input("insira outro número: "))
print(f'a soma é {math + mat}')
print(f'a diferença é {math-mat}') 
print(f'o produto é {math*mat}')

insira um número: 3.14
insira outro número: 246
a soma é 249.14
a diferença é -242.86
o produto é 772.44

In [15]:
[1,2,3]

[1, 2, 3]

In [16]:
{1,2,3}

{1, 2, 3}

In [35]:
usuario1 = {"nome": ["matheus", "Igor"],
 "idade": [17, 22],
 "estado civil" : ["casado", "casado"],
 "sabe resolver cubo mágico?" : ["não", "sim"]}

In [20]:
print(usuario1)

{'nome': 'matheus', 'idade': 17, 'estado civil': 'casado', 'sabe resolver cubo mágico?': 'não'}

In [21]:
usuario1["nome"]

'matheus'

In [22]:
import pandas as pd

In [36]:
pd.DataFrame(usuario1)

      nome  idade estado civil sabe resolver cubo mágico?
0  matheus     17       casado                        não
1     Igor     22       casado                        sim

In [54]:
informações = ["Nome", "Idade", "Estado civil","Escoteiro?", "CPF"] 
usuario1 = dict()
for dado in informações: 
  usuario1[dado] = [input(f'favor inserir {dado}: ')]
pd.DataFrame(usuario1)

favor inserir Nome: sim
favor inserir Idade: sim
favor inserir Estado civil: sim
favor inserir Escoteiro?: sim
favor inserir CPF: sim

  Nome Idade Estado civil Escoteiro?  CPF
0  sim   sim          sim        sim  sim

In [55]:
print(usuario1)

{'Nome': ['sim'], 'Idade': ['sim'], 'Estado civil': ['sim'], 'Escoteiro?': ['sim'], 'CPF': ['sim']}